*{margin:0;padding:0;}html{background:url(bg.jpg) center center no-repeat;background-size:100% 100%;width:100%;height:100%;}body{background:url(stars2.png) 20% repeat;width:100%;height:100%;-webkit-animation:parallax 320s linear infinite;-moz-animation:parallax 320s linear infinite;animation:parallax 320s linear infinite;}.wrap{background:url(stars1.png) 40% repeat;width:100%;height:100%;-webkit-animation:parallax 240s linear infinite;-moz-animation:parallax 240s linear infinite;animation:parallax 240s linear infinite;}.container{width:800px;text-align:center;margin:0 auto;}img.main{-webkit-animation:fadein 1s 1.3s linear;-webkit-animation-fill-mode:both;-moz-animation:fadein 1s 1.3s linear;-moz-animation-fill-mode:both;animation:fadein 1s 1.3s linear;animation-fill-mode:both;position:relative;z-index:100;margin-top:50px;}.blurred{background:url(blurred.png) no-repeat center center;width:288px;height:540px;display:block;position:relative;margin:0 auto;margin-top:-540px;opacity:0;-webkit-animation:scalefade .75s .5s ease,ghost 1s 1s linear;-webkit-animation-fill-mode:both,forwards;-moz-animation:scalefade .75s .5s ease,ghost 1s 1s linear;-moz-animation-fill-mode:both,forwards;animation:scalefade .75s .5s ease,ghost 1s 1s linear;animation-fill-mode:both,forwards;z-index:0;}@-webkit-keyframes parallax {
	0% {
		background-position-x: 0;
	}	100% {
		background-position-x: -1600px;
	}
}

@-webkit-keyframes scalefade {
	0% {
		-webkit-transform: scale(0.3);
		opacity: 0;
	}
	
	60% {
		-webkit-transform: scale(1.05);
	}
	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes ghost {
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

@-moz-keyframes parallax {
	0% {
		background-position-x: 0;
	}
	
	100% {
		background-position-x: -1600px;
	}
}

@-moz-keyframes scalefade {
	0% {
		-moz-transform: scale(0.3);
		opacity: 0;
	}
	
	60% {
		-moz-transform: scale(1.05);
	}
	
	100% {
		-moz-transform: scale(1);
		opacity: 1;
	}
}

@-moz-keyframes fadein {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@-moz-keyframes ghost {
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}

@keyframes parallax {
	0% {
		background-position-x: 0;
	}
	
	100% {
		background-position-x: -1600px;
	}
}

@keyframes scalefade {
	0% {
		transform: scale(0.3);
		opacity: 0;
	}
	
	60% {
		transform: scale(1.05);
	}
	
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@keyframes ghost {
	0% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
	}
}